body
{
    text-align: center;
}
.container{
  background-color: mediumaquamarine;  
}
#app {
    background-color: rgb(159, 203, 243);
}

#myCarousel
{
    background-color: rgb(173, 238, 252);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
